{:deps {org.clojure/clojure {:mvn/version "1.10.1"},
        org.clojure/clojurescript {:mvn/version "1.10.773"},
        reagent {:mvn/version "0.10.0"},
        re-frame {:mvn/version "0.12.0"},
        binaryage/devtools {:mvn/version "1.0.2"},
        com.yahoo.platform.yui/yuicompressor {:mvn/version "2.4.8"},
        zprint {:mvn/version "0.5.1"},
        cljsjs/react-highlight {:mvn/version "1.0.7-2"}}}
